<form method="post" action="{{ page.getActionUrl }}" class="container-grid">
    {{ 'admin.list.toolbar'|block }}
    <div class="grid">
        <table class="pure-table">
            <thead>
                <tr class="headings">
                    <th class="width-5 center"><input type="checkbox" class="select-all" name="select" value="" /></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('rewrite_id') }}">{{ 'ID'|translate }}</a></th>
                    <th class="width-25"><a href="{{ page.getSortOrderUrl('source_identifier') }}">{{ 'Source'|translate }}</a></th>
                    <th class="width-25"><a href="{{ page.getSortOrderUrl('target_identifier') }}">{{ 'Target'|translate }}</a></th>
                    <th class="width-20"><a href="{{ page.getSortOrderUrl('object_type') }}">{{ 'Type'|translate }}</a></th>
                    <th class="width-10"><a href="{{ page.getSortOrderUrl('is_system') }}">{{ 'System'|translate }}</a></th>
                    <th class="width-10">{{ 'Action'|translate }}</th>
                </tr>
                <tr class="pure-form filters">
                    <th></th>
                    <th><input type="text" name="filter[rewrite_id]" value="{{ page.getFilter('rewrite_id') }}" /></th>
                    <th><input type="text" name="filter[source_identifier]" value="{{ page.getFilter('source_identifier') }}" /></th>
                    <th><input type="text" name="filter[target_identifier]" value="{{ page.getFilter('target_identifier') }}" /></th>
                    <th><input type="text" name="filter[object_type]" value="{{ page.getFilter('object_type') }}" /></th>
                    <th>
                        <select name="filter[is_system]">
                            <option value=""></option>
                            <option value="1"{% if page.getFilter('is_system') == '1' %} selected="selected"{% endif %}>{{ 'Yes'|translate }}</option>
                            <option value="0"{% if page.getFilter('is_system') == '0' %} selected="selected"{% endif %}>{{ 'No'|translate }}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set list = page.getList %}
                {% if list is empty %}
                    <tr>
                        <td class="empty" colspan="7">
                            {{ 'We couldn\'t find any records.'|translate }}
                        </td>
                    </tr>
                {% else %}
                    {% for key,data in list %}
                        <tr{% if key is odd %} class="pure-table-odd"{% endif %}>
                            <td class="center"><input type="checkbox" id="id_{{ data.getRewriteId }}" name="id[]" class="select-id" value="{{ data.getRewriteId }}" /></td>
                            <td><label for="id_{{ data.getRewriteId }}">{{ data.getRewriteId }}</label></td>
                            <td>{{ data.getSourceIdentifier }}</td>
                            <td>{{ data.getTargetIdentifier }}</td>
                            <td>{{ data.getObjectType }}</td>
                            <td>{% if data.getIsSystem == 1 %}{{ 'Yes'|translate }}{% else %}{{ 'No'|translate }}{% endif %}</td>
                            <td>
                                <a href="{{ page.getEditUrl(data.getRewriteId()) }}">{{ 'Edit'|translate }}</a>
                            </td>
                        </tr>
                    {% endfor  %}
                {% endif %}
            </tbody>
        </table>
    </div>
</form>