<input type="checkbox" id="menu-sm-link" value="1" /> <label for="menu-sm-link" class="menu-toggle pure-button black"><span>{{ 'Menu'|translate }}</span></label>
<nav>
    <div class="nav-content pure-menu">
        <a href="{{ page.getUrl }}" id="admin-menu-logo"><img class="logo" src="{{ page.getMediaUrl('Backend::logo-admin.png') }}" alt="Leafiny" /></a>

        {% for title, children in block.getTree %}
            <span class="pure-menu-heading">{{ title|translate }}</span>
            <ul class="pure-menu-list">
                {% for link in children %}
                    <li class="pure-menu-item{% if block.isActive(page, link.path) %} pure-menu-active{% endif %}"><a href="{{ page.getUrl(link.path) }}" class="pure-menu-link">{{ link.title|translate }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</nav>