<div class="post-comment">
    <h2>{{ 'Comments'|translate }}</h2>

    {% set comments = block.getComments(page.getCustom('post').getPostId) %}

    {% if comments is empty %}
        <p class="comment-count no-comment">{{ 'No comment'|translate }}</p>
    {% else %}
        <p class="comment-count">{{ comments|length }} {{ 'comment'|translate }}{{ comments|length > 1 ? 's' : '' }}</p>

        <div class="comments-container pure-g">
            {% for comment in comments %}
                <div class="comment-content pure-u-1">
                    <div class="user pure-u-1">
                        <div class="pure-u-1-2 left">
                            <span class="name">{{ comment.getName }}</span>
                        </div>
                        <div class="pure-u-1-2 right">
                            <span class="date">{{ page.getHelper.getDate(comment.getCreatedAt, '%d %B %Y - %Hh%M') }}</span>
                        </div>
                    </div>
                    <div class="pure-u-1">
                        <div class="comment">
                            {{ comment.getComment|nl2br }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" id="form-comment" class="pure-form pure-form-stacked" action="{{ page.getUrl('/post/comment/post/') }}">
        <fieldset>
            <legend>{{ 'Add a comment'|translate }}</legend>
            <div class="pure-g">
                <div class="pure-u-1">
                    <label for="name">{{ 'Name'|translate }} <span>*</span> :</label>
                    <input id="name" type="text" class="pure-u-1" name="name" value="{{ page.getFormComment.getName }}" required />
                </div>
                <div class="pure-u-1">
                    <label for="comment">{{ 'Comment'|translate }} <span>*</span> :</label>
                    <textarea id="comment" class="pure-u-1" name="comment" required>{{ page.getFormComment.getComment }}</textarea>
                </div>
                <div class="pure-u-1">
                    <label for="form_code">{{ 'Please enter the letters you see'|translate }} <span>*</span> :</label>
                    <div class="pure-u-8-24 pure-u-md-4-24">
                        <div class="form-code">
                            <img src="{{ block.getCaptchaImage(page) }}" alt="Text" />
                        </div>
                    </div>
                    <div class="pure-u-16-24 pure-u-md-20-24">
                        <input id="form_code" type="text" class="pure-u-1" name="form_code" value="" required />
                    </div>
                </div>
                <div class="pure-u-1">
                    <p>
                        <span>* {{ 'Required fields'|translate }}</span>
                    </p>
                    <input type="hidden" name="post_id" value="{{ page.getCustom('post').getPostId }}" />
                    <button type="submit" class="pure-button black">{{ 'Post your comment'|translate }} &check;</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>