{% set category = page.getCustom('category') %}
{% set posts = block.getPosts(category.getCategoryId) %}
{% if posts is not empty %}
    <div class="posts pure-g" id="posts">
        {% for post in posts %}
            <div class="post-list pure-u-1">
                <div class="post-list-content">
                    <a href="{{ page.getUrl }}{{ post.getPathKey }}.html">{{ post.getTitle }}</a>
                    <ul class="info">
                        {% if (post.getAuthor) %}
                            <li class="pure-u-1-2 author">{{ post.getAuthor }}</li>
                        {% endif %}
                        {% if (post.getPublishDate) %}
                            <li class="pure-u-1-2 date">{{ page.getHelper.getDate(post.getPublishDate, '%d %B %Y') }}</li>
                        {% endif %}
                    </ul>
                    {% if (post.getIntro) %}
                        <div class="intro">
                            {{ post.getIntro }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% set totalPage = block.getTotalPages(category.getCategoryId) %}
    {% if (totalPage > 1) %}
        {% set currentPage = block.getPageNumber %}
        <div class="multipage pure-g">
            <div class="previous pure-u-1-2 pure-u-md-1-5 left">
                {% if (currentPage > 1) %}
                    <a href="{{ block.getPageUrl(page, currentPage - 1) }}#posts">{{ 'Previous'|translate }}</a>
                {% endif %}
            </div>
            <div class="number pure-u-3-5 center">
                {% for i in 1..totalPage %}
                    <a href="{{ block.getPageUrl(page, i) }}#posts"{% if block.getPageNumber == i %} class="active"{% endif %}>{{ i }}</a>
                {% endfor %}
            </div>
            <div class="next pure-u-1-2 pure-u-md-1-5 right">
                {% if (currentPage < totalPage) %}
                    <a href="{{ block.getPageUrl(page, currentPage + 1) }}#posts">{{ 'Next'|translate }}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}
