{% set category = page.getCustom('category') %}
{% set posts = block.getPosts(category.getCategoryId) %}
{% if posts is not empty %}
    <div class="posts pure-g" id="posts">
        {% for post in posts %}
            <div class="post-list pure-u-1">
                {% set image = block.getMainImage(post.getPostId) %}
                {% if image %}
                    <div class="post-list-image" style="background: url({{ page.getMediaUrl }}{{ page.imageResize(image.getImage, 900, 200) }})"></div>
                {% endif %}
                <div class="post-list-content{% if image %} with-image{% endif %}">
                    <a href="{{ page.getUrl }}{{ post.getPathKey }}.html">{{ post.getTitle }}</a>
                    <ul class="info">
                        {% if (post.getAuthor) %}
                            <li class="pure-u-1-2 author">{{ post.getAuthor }}</li>
                        {% endif %}
                        {% if (post.getPublishDate) %}
                            <li class="pure-u-1-2 date">{{ page.getHelper.getDate(post.getPublishDate, '%d %B %Y') }}</li>
                        {% endif %}
                    </ul>
                    {% if (post.getIntro) %}
                        <div class="intro">
                            {{ post.getIntro }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ child('category.post.list.multipage', {'category_id':category.getCategoryId}) }}
{% endif %}
