{% set data = page.getCustom('post') %}

<div class="post-view">
    <h2>{{ data.getTitle }}</h2>

    <ul class="info">
        {% if (data.getAuthor) %}
            <li class="pure-u-1-2 author">{{ data.getAuthor }}</li>
        {% endif %}
        {% if (data.getPublishDate) %}
            <li class="pure-u-1-2 date">{{ page.getHelper.getDate(data.getPublishDate, '%d %B %Y') }}</li>
        {% endif %}
    </ul>

    {% set mainImage = page.getMainImage(data.getPostId) %}
    {% if mainImage %}
        <div class="image">
            <img src="{{ page.getMediaUrl }}{{ page.imageResize(mainImage.getImage, 940, 940, data.getTitle ~ '-' ~ mainImage.getImageId) }}" class="pure-u-1" alt="{{ data.getTitle }}" />
        </div>
    {% endif %}

    {% if (data.getIntro) %}
        <div class="intro">
            {{ data.getIntro }}
        </div>
    {% endif %}

    <div class="post-content">
        {{ include(template_from_string(data.getContent)) }}
    </div>

    {% for child in page.getChildren %}
        {{ child(child) }}
    {% endfor %}
</div>