{% set form = page.getFormData %}
<div class="container-form">
    <form method="post" class="pure-form pure-form-stacked" action="{{ page.getSaveUrl }}" enctype="multipart/form-data">
        <div class="pure-u-1 toolbar">
            <a href="{{ page.getRefererUrl }}" class="pure-button gray">{{ 'Back'|translate }}</a>
        </div>

        {% if form.getGroupId %}
            <div class="snippet pure-u-1 pure-u-xl-4-5">
                <div class="snippet-content">
                    <input type="text" value="&lbrace;&lbrace; child('gallery::{{ form.getPathKey }}') &rbrace;&rbrace;" class="block-snippet-content pure-u-16-24" id="block-snippet" readonly />
                    <a href="#" id="block-copy-snippet" class="pure-button gray">{{ 'Copy'|translate }}</a>
                </div>
            </div>
        {% endif %}

        <fieldset>
            <legend>{{ 'General'|translate }}</legend>
            <div class="pure-g">
                <div class="pure-u-1 field">
                    <label for="name">{{ 'Name'|translate }} <span>*</span> :</label>
                    <input id="name" type="text" class="pure-u-1 pure-u-xl-4-5" name="name" value="{{ form.getName }}" required />
                </div>
                <div class="pure-u-1 field">
                    <label for="path_key">{{ 'Key'|translate }} <span>*</span> :</label>
                    <input id="path_key" type="text" class="pure-u-1 pure-u-xl-4-5" name="path_key" value="{{ form.getPathKey }}" required />
                </div>
                <div class="pure-u-1 field">
                    <label for="status">{{ 'Status'|translate }} <span>*</span> :</label>
                    <select id="status" class="pure-u-1 pure-u-xl-4-5" name="status" required>
                        <option value="0"{% if form.getStatus == '0' %} selected="selected"{% endif %}>{{ 'Disabled'|translate }}</option>
                        <option value="1"{% if form.getStatus == '1' %} selected="selected"{% endif %}>{{ 'Enabled'|translate }}</option>
                    </select>
                </div>
                <div class="pure-u-1 field">
                    <label for="type">{{ 'Type'|translate }} <span>*</span> :</label>
                    <select id="type" class="pure-u-1 pure-u-xl-4-5" name="type" required>
                        {% for code,label in page.getCustom('types') %}
                            <option value="{{ code }}"{% if form.getType == code %} selected="selected"{% endif %}>{{ label|translate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="pure-u-1 field">
                    <label for="language">{{ 'Language'|translate }} <span>*</span> :</label>
                    <select id="language" class="pure-u-1 pure-u-xl-4-5" name="language" required>
                        {% for code,lang in page.getActiveLanguages %}
                            <option value="{{ code }}"{% if form.getLanguage == code %} selected="selected"{% endif %}>{{ lang|translate }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            {% set maxFileNumber = page.getCustom('max_file_number') ?: 10000 %}
            <legend>{{ maxFileNumber > 1 ? 'Images'|translate : 'Image'|translate }}</legend>
            <div class="pure-u-1 field pure-u-xl-4-5">
                {{ child('admin.gallery.form', {'show_label':true, 'show_tag':true, 'show_link':true, 'number_per_row':4}) }}
            </div>
        </fieldset>

        {% for child in page.getChildren %}
            {{ child(child) }}
        {% endfor %}

        <div class="pure-u-1">
            <p>
                <span>* {{ 'Required fields'|translate }}</span>
            </p>
        </div>

        <div class="pure-u-1 actions">
            <input type="hidden" name="group_id" value="{{ form.getGroupId }}" />
            <button type="submit" class="pure-button green">{{ 'Save'|translate }} &check;</button>
            <a href="{{ page.getRefererUrl }}" class="pure-button gray">{{ 'Cancel'|translate }} &times;</a>
            {{ child('admin.form.goto') }}
        </div>
    </form>
</div>