<form method="post" action="{{ page.getActionUrl }}" class="container-grid">
    {{ child('admin.list.toolbar') }}
    <div class="grid">
        <table class="pure-table">
            <thead>
                <tr class="headings">
                    <th class="width-5 center"><input type="checkbox" class="select-all" name="select" value="" /></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('rule_id') }}">{{ 'ID'|translate }}</a></th>
                    <th class="width-20"><a href="{{ page.getSortOrderUrl('title') }}">{{ 'Title'|translate }}</a></th>
                    <th class="width-15"><a href="{{ page.getSortOrderUrl('type') }}">{{ 'Type'|translate }}</a></th>
                    <th class="width-5"></th>
                    <th class="width-15"><a href="{{ page.getSortOrderUrl('expire') }}">{{ 'Expire'|translate }}</a></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('has_coupon') }}">{{ 'Coupon'|translate }}</a></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('priority') }}">{{ 'Priority'|translate }}</a></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('stop_rules_processing') }}">{{ 'Stop'|translate }}</a></th>
                    <th class="width-10"><a href="{{ page.getSortOrderUrl('status') }}">{{ 'Status'|translate }}</a></th>
                    <th class="width-10">{{ 'Action'|translate }}</th>
                </tr>
                <tr class="pure-form filters">
                    <th></th>
                    <th><input type="text" name="filter[rule_id]" value="{{ page.getFilter('rule_id') }}" /></th>
                    <th><input type="text" name="filter[title]" value="{{ page.getFilter('title') }}" /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select name="filter[status]">
                            <option value=""></option>
                            <option value="1"{% if page.getFilter('status') == '1' %} selected="selected"{% endif %}>{{ 'Enabled'|translate }}</option>
                            <option value="0"{% if page.getFilter('status') == '0' %} selected="selected"{% endif %}>{{ 'Disabled'|translate }}</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set list = page.getList %}
                {% if list is empty %}
                    <tr>
                        <td class="empty" colspan="7">
                            {{ 'We couldn\'t find any records.'|translate }}
                        </td>
                    </tr>
                {% else %}
                    {% for key,data in list %}
                        <tr{% if key is odd %} class="pure-table-odd"{% endif %}>
                            <td class="center"><input type="checkbox" id="id_{{ data.getRuleId }}" name="id[]" class="select-id" value="{{ data.getRuleId }}" /></td>
                            <td><label for="id_{{ data.getRuleId }}">{{ data.getRuleId }}</label></td>
                            <td>{{ data.getTitle }}</td>
                            <td>{{ page.getTypeLabel(data.getType)|translate }}</td>
                            <td>{{ data.getOption ?: data.getDiscount }}</td>
                            <td>{{ data.getExpire ? page.formatDate(data.getExpire) : '&infin;' }}</td>
                            <td>
                                {% if data.getHasCoupon == 0 %}
                                    {{ 'No'|translate }}
                                {% else %}
                                    {{ 'Yes'|translate }}
                                {% endif %}
                            </td>
                            <td>{{ data.getPriority }}</td>
                            <td>
                                {% if data.getStopRulesProcessing == 0 %}
                                    {{ 'No'|translate }}
                                {% else %}
                                    {{ 'Yes'|translate }}
                                {% endif %}
                            </td>
                            <td class="status">
                                {% if data.getStatus == 0 %}
                                    <span class="disabled">{{ 'Disabled'|translate }}</span>
                                {% else %}
                                    <span class="enabled">{{ 'Enabled'|translate }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ page.getEditUrl(data.getRuleId()) }}">{{ 'Edit'|translate }}</a>
                            </td>
                        </tr>
                    {% endfor  %}
                {% endif %}
            </tbody>
        </table>
    </div>
</form>