{% set next = block.getNextStep %}
<form method="post" class="pure-form pure-form-stacked save-step order shipping-methods" action="{{ block.getStepUrl(next.getCode) }}">
    {% set shippingMethods = block.getShippingMethods %}
    {% if shippingMethods is not empty %}
        {% for shipping in shippingMethods %}
            <div class="shipping-method {{ shipping.getMethod }}">
                <div class="shipping--method-content">
                    <label for="{{ shipping.getMethod }}">
                        <input type="radio" name="shipping_method" value="{{ shipping.getMethod }}" id="{{ shipping.getMethod }}"{% if (block.getCurrentMethod == shipping.getMethod) %} checked="checked"{% endif %}/>
                        {{ shipping.getLabel }} - <strong>{{ block.getMethodPrices(shipping.getMethod).getInclTaxShipping|currency }}</strong>
                    </label>
                </div>
            </div>
        {% endfor %}
        <div class="pure-u-1 continue">
            <button type="submit" class="pure-button button black">{{ 'Continue'|translate }}</button>
        </div>
    {% else %}
        <p>
            {{ 'Your order cannot be completed at this time as there is no shipping methods available for it.'|translate }}
        </p>
    {% endif %}
</form>