<form method="post" action="{{ page.getActionUrl }}" class="container-grid">
    {{ child('admin.list.toolbar') }}
    <div class="grid">
        <table class="pure-table">
            <thead>
                <tr class="headings">
                    <th class="width-5 center"><input type="checkbox" class="select-all" name="select" value="" /></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('shipping_id') }}">{{ 'ID'|translate }}</a></th>
                    <th class="width-30"><a href="{{ page.getSortOrderUrl('label') }}">{{ 'Label'|translate }}</a></th>
                    <th class="width-20"><a href="{{ page.getSortOrderUrl('method') }}">{{ 'Method'|translate }}</a></th>
                    <th class="width-25"><a href="{{ page.getSortOrderUrl('countries') }}">{{ 'Countries'|translate }}</a></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('priority') }}">{{ 'Priority'|translate }}</a></th>
                    <th class="width-10">{{ 'Action'|translate }}</th>
                </tr>
                <tr class="pure-form filters">
                    <th></th>
                    <th><input type="text" name="filter[shipping_id]" value="{{ page.getFilter('shipping_id') }}" /></th>
                    <th><input type="text" name="filter[label]" value="{{ page.getFilter('label') }}" /></th>
                    <th><input type="text" name="filter[method]" value="{{ page.getFilter('method') }}" /></th>
                    <th>
                        <select name="filter[countries]">
                            <option value=""></option>
                            {% for code,label in page.getAllCountries %}
                                <option value="{{ code }}"{% if page.getFilter('countries') == code %} selected="selected"{% endif %}>{{ label|translate }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th><input type="text" name="filter[priority]" value="{{ page.getFilter('priority') }}" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set list = page.getList %}
                {% if list is empty %}
                    <tr>
                        <td class="empty" colspan="7">
                            {{ 'We couldn\'t find any records.'|translate }}
                        </td>
                    </tr>
                {% else %}
                    {% for key,data in list %}
                        <tr{% if key is odd %} class="pure-table-odd"{% endif %}>
                            <td class="center"><input type="checkbox" id="id_{{ data.getShippingId }}" name="id[]" class="select-id" value="{{ data.getShippingId }}" /></td>
                            <td><label for="id_{{ data.getShippingId }}">{{ data.getShippingId }}</label></td>
                            <td>{{ data.getLabel }}</td>
                            <td>{{ data.getMethod }}</td>
                            <td>{{ data.getCountries }}</td>
                            <td>{{ data.getPriority }}</td>
                            <td>
                                <a href="{{ page.getEditUrl(data.getShippingId()) }}">{{ 'Edit'|translate }}</a>
                            </td>
                        </tr>
                    {% endfor  %}
                {% endif %}
            </tbody>
        </table>
    </div>
</form>