{% set form = page.getFormData %}
<div id="form_gallery_{{ block.getInputDataName }}" class="form-gallery-selector">
    {% set fileNumber = 0 %}
    {% if form.getData(page.getModel.getPrimaryKey) %}
        {% set images = block.getImages(form.getData(page.getModel.getPrimaryKey), page.getModel.getObjectIdentifier) %}
        {% if images is not empty %}
            {% set fileNumber = images|length %}
            <div class="gallery-images pure-g">
                {% for image in images %}
                    <div class="image-container pure-u-1-2 pure-u-lg-{{ block.getContainerSize }}-24">
                        <div class="image-content{% if image.getStatus == 0 %} disabled{% endif %}">
                            <div class="image-file">
                                <div class="image" style="background-image: url('{{ page.getMediaUrl }}{{ image.getImage }}')"></div>
                            </div>
                            {% if image.getStatus == 1 %}
                                <a href="{{ block.getStatusUrl(image.getImageId) }}#form_gallery_{{ block.getInputDataName }}">
                                    <img src="{{ page.getSkinUrl('Leafiny_Gallery::backend/images/toggle-on.png') }}" alt="{{ 'Disable'|translate }}" />
                                </a>
                            {% else %}
                                <a href="{{ block.getStatusUrl(image.getImageId) }}#form_gallery_{{ block.getInputDataName }}">
                                    <img src="{{ page.getSkinUrl('Leafiny_Gallery::backend/images/toggle-off.png') }}" alt="{{ 'Enable'|translate }}" />
                                </a>
                            {% endif %}
                            <a href="{{ block.getDeleteUrl(image.getImageId) }}#form_gallery_{{ block.getInputDataName }}" class="delete">
                                <img src="{{ page.getSkinUrl('Leafiny_Gallery::backend/images/trash.png') }}" alt="{{ 'Delete'|translate }}" />
                            </a>

                            {% if block.showPosition %}
                                <select name="{{ block.getInputDataName }}[position][{{ image.getImageId }}]" class="pure-u-1">
                                    {% for i in range(1, images|length) %}
                                        <option value="{{ i }}"{% if i == image.position %} selected="selected"{% endif %}>
                                            {{ 'Position'|translate }} {{ i }}{% if i == 1 %} ({{ 'Main'|translate }}){% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            {% if block.showLabel %}
                                <input name="{{ block.getInputDataName }}[label][{{ image.getImageId }}]" class="pure-u-1" value="{{ image.getLabel }}" placeholder="{{ 'Label'|translate }}" />
                            {% endif %}

                            {% if block.showLink %}
                                <input name="{{ block.getInputDataName }}[link][{{ image.getImageId }}]" class="pure-u-1" value="{{ image.getLink }}" placeholder="{{ 'Link'|translate }}" />
                            {% endif %}

                            {% if block.showTag %}
                                <input class="pure-u-1 snippet" value="{{ block.getTag(image)|raw }}" readonly />
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% set maxFileNumber = page.getCustom('max_file_number') ?: 10000 %}
    {% if (fileNumber < maxFileNumber) %}
        <div class="gallery-form">
            <ul class="info">
                <li><strong>{{ 'Maximum file upload size:'|translate }}</strong> {{ block.getMaxFileSize() }}Mo</li>
                {% if (page.getCustom('recommended_file_size')) %}
                    <li><strong>{{ 'Recommended file size:'|translate }}</strong> {{ page.getCustom('recommended_file_size') }}</li>
                {% endif %}
            </ul>
            <button class="pure-button green" type="button" data-max-file-number="{{ maxFileNumber }}">{{ 'Add'|translate }}</button>
            <input type="file" name="{{ block.getInputFileName }}[]" style="display: none"/>
        </div>
    {% endif %}
</div>
