<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.getLanguage }}" xml:lang="{{ page.getLanguage }}">
<head>
{{ child('admin.head') }}
</head>
<body class="{{ page.getPageClass }}">
{% apply spaceless %}
<div class="layout">
    {{ child('admin.menu') }}
    <main>
        <div class="main-content">
            {{ child('admin.account') }}
            {{ child('admin.title') }}
            {{ child('admin.message') }}
            {{ child('admin.content') }}
        </div>
    </main>
    {{ child('admin.footer') }}
</div>
{{ child('admin.script') }}
{% endapply %}
</body>
</html>