{% set category = page.getCustom('category') %}
{% set filters = block.getFilters(category.getCategoryId) %}
{% if filters is not empty %}
    {% set current = block.getCurrentFilters(page) %}
    <div class="filters">
        <div class="filters-title">{{ 'Narrow by:'|translate }}</div>
        <form action="{{ block.getPageUrl(page) }}" method="get" class="filters-attributes pure-g">
        {% for filter in filters %}
            {% if filter.getOptions is not empty %}
                <div class="filter pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                    <div class="filter-content">
                        <input type="checkbox" id="filter_{{ filter.getAttributeCode }}" value="1" class="attribute-toggle" />
                        <label for="filter_{{ filter.getAttributeCode }}" class="attribute-label">{{ filter.getAttributeLabel }}</label>
                        <div class="filter-options">
                            <ul>
                            {% for option in filter.getOptions %}
                                {% set optionId = 'option_' ~ filter.getAttributeCode ~ '_' ~ option.getOptionId %}
                                <li>
                                    <input type="checkbox" id="{{ optionId }}" name="{{ filter.getAttributeCode }}[{{ loop.index - 1 }}]" value="{{ option.getOptionId }}"{% if option.getOptionId in current.getData(filter.getAttributeCode).getData %} checked="checked"{% endif %} />
                                    <label for="{{ optionId }}">{{ option.getLabel }} ({{ option.getTotal }})</label>
                                </li>
                            {% endfor %}
                            </ul>
                            <button type="submit" class="pure-button black apply"><span>&check; {{ 'Apply'|translate }}</span></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </form>
        {% if not block.hasItems(category.getCategoryId) %}
            <p>{{ 'We can\'t find products matching the selection.'|translate }}</p>
        {% endif %}
    </div>
{% endif %}
