{% set category = page.getCustom('category') %}
{% set products = block.getProducts(category.getCategoryId) %}
{% if products is not empty %}
    <div class="products pure-g" id="catalog">
        {% for product in products %}
            <div class="product pure-u-1-2 pure-u-lg-1-3">
                <div class="product-content">
                    {% set image = block.getMainImage(product.getProductId) %}
                    <a href="{{ page.getUrl }}{{ product.getPathKey }}.html">
                        {% if image %}
                            <img src="{{ page.getMediaUrl }}{{ page.imageResize(image.getImage, 600, 600) }}" class="pure-u-1" alt="{{ product.getName }}" loading="lazy" />
                        {% else %}
                            <img src="{{ page.getMediaUrl('Leafiny_Catalog::placeholder.png') }}" class="pure-u-1" alt="{{ product.getName }}" />
                        {% endif %}
                    </a>
                    <div class="product-info">
                        <a href="{{ page.getUrl }}{{ product.getPathKey }}.html">{{ product.getName }}</a>
                        <div class="product-sku"><strong>{{ 'Sku:'|translate }}</strong> {{ product.getSku }}</div>
                        {{ child('catalog.product.price', {'product':product}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ child('category.product.list.multipage', {'category_id':category.getCategoryId}) }}
{% endif %}
