<form method="post" action="{{ page.getActionUrl }}" class="container-grid">
    {{ child('admin.list.toolbar') }}
    <div class="grid">
        <table class="pure-table">
            <thead>
                <tr class="headings">
                    <th class="width-5 center"><input type="checkbox" class="select-all" name="select" value="" /></th>
                    <th class="width-5"><a href="{{ page.getSortOrderUrl('status_id') }}">{{ 'ID'|translate }}</a></th>
                    <th class="width-15"><a href="{{ page.getSortOrderUrl('code') }}">{{ 'Code'|translate }}</a></th>
                    <th class="width-20"><a href="{{ page.getSortOrderUrl('label') }}">{{ 'Label'|translate }}</a></th>
                    <th class="width-15"><a href="{{ page.getSortOrderUrl('language') }}">{{ 'Language'|translate }}</a></th>
                    <th class="width-30">{{ 'Comment'|translate }}</th>
                    <th class="width-10">{{ 'Action'|translate }}</th>
                </tr>
                <tr class="pure-form filters">
                    <th></th>
                    <th><input type="text" name="filter[shipping_id]" value="{{ page.getFilter('status_id') }}" /></th>
                    <th><input type="text" name="filter[code]" value="{{ page.getFilter('code') }}" /></th>
                    <th><input type="text" name="filter[label]" value="{{ page.getFilter('label') }}" /></th>
                    <th>
                        <select name="filter[language]">
                            <option value=""></option>
                            {% for code,lang in page.getActiveLanguages %}
                                <option value="{{ code }}"{% if page.getFilter('language') == code %} selected="selected"{% endif %}>{{ lang|translate }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set list = page.getList %}
                {% if list is empty %}
                    <tr>
                        <td class="empty" colspan="7">
                            {{ 'We couldn\'t find any records.'|translate }}
                        </td>
                    </tr>
                {% else %}
                    {% for key,data in list %}
                        <tr{% if key is odd %} class="pure-table-odd"{% endif %}>
                            <td class="center"><input type="checkbox" id="id_{{ data.getStatusId }}" name="id[]" class="select-id" value="{{ data.getStatusId }}" /></td>
                            <td><label for="id_{{ data.getStatusId }}">{{ data.getStatusId }}</label></td>
                            <td>{{ data.getCode }}</td>
                            <td>{{ data.getLabel }}</td>
                            <td class="lang_{{ data.getLanguage }}"><span>{{ page.getLanguageByCode(data.getLanguage)|translate }}</span></td>
                            <td>{{ data.getComment|truncate(0, 50, '...') }}</td>
                            <td>
                                <a href="{{ page.getEditUrl(data.getStatusId()) }}">{{ 'Edit'|translate }}</a>
                            </td>
                        </tr>
                    {% endfor  %}
                {% endif %}
            </tbody>
        </table>
    </div>
</form>