{% set data = page.getCustom('page') %}

<div class="cms-page">
    <h2>{{ data.getTitle }}</h2>

    {% set mainImage = page.getMainImage(data.getPageId) %}
    {% if mainImage %}
        <div class="page-image">
            <img src="{{ page.getMediaUrl }}{{ page.imageResize(mainImage.getImage, 940, 940, data.getTitle ~ '-' ~ mainImage.getImageId) }}" class="pure-u-1" alt="{{ data.getTitle }}" />
        </div>
    {% endif %}

    <div class="page-view">
        {{ include(template_from_string(data.getContent)) }}
    </div>
</div>