{% set tree = block.getTree %}
{% if tree is not empty %}
    <nav>
        <div id="navigation">
            <div class="navigation-content">
                <div class="pure-menu pure-menu-horizontal">
                    <input type="checkbox" id="menu-sm-link" value="1" /> <label for="menu-sm-link" class="menu-toggle"><span>{{ 'Menu'|translate }}</span></label>
                    <ul class="pure-menu-list menu-list categories">
                        {% for category in tree %}
                            <li class="pure-menu-item">
                                <a href="{{ page.getUrlRewrite(category.path_key, 'category') }}" class="pure-menu-link{% if category.children %} has-children{% endif %}{% if block.isActive(category.path_key) %} active{% endif %}">{{ category.name }}</a>
                                {% if category.children %}
                                    <ul class="pure-menu-list child">
                                    {% for child in category.children %}
                                        <li class="pure-menu-item">
                                            <a href="{{ page.getUrlRewrite(child.path_key, 'category') }}" class="pure-menu-link">{{ child.name }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endif %}