<form action="{{ page.getLoginPost }}" method="post" class="login-form pure-form pure-form-stacked">
    <img src="{{ page.getMediaUrl('Leafiny_Backend::logo-login.png') }}" alt="Leafiny" />
    {{ child('admin.message') }}
    <fieldset>
        <div class="pure-g">
            <div class="pure-u-1 field required">
                <label for="username">{{ 'Username'|translate }} <span>*</span> :</label>
                <input id="username" type="text" class="pure-u-1" name="username" value="" required />
            </div>
            <div class="pure-u-1 field required">
                <label for="password">{{ 'Password'|translate }} <span>*</span> :</label>
                <input id="password" type="password" class="pure-u-1" name="password" value="" required />
            </div>
            <div class="pure-u-1 required">
                <p>
                    <span>* {{ 'Required fields'|translate }}</span>
                </p>
                <button type="submit" class="pure-button black">{{ 'Sign in'|translate }} &check;</button>
            </div>
        </div>
    </fieldset>
</form>