<p><strong>{{ 'Bank details statement:'|translate }}</strong></p>

<p>
    <strong>{{ 'IBAN:'|translate }}</strong> {{ block.getCustom('iban') }} - <strong>{{ 'BIC:'|translate }}</strong> {{ block.getCustom('bic') }}
</p>