{% set form = page.getFormData %}
{% for language in page.getLanguages %}
    <div class="form-category-selector form_category_{{ language }}">
        <label for="category_id_{{ language }}_{{ block.getName }}">{{ block.getLabel|translate }} :</label>
        <select id="category_id_{{ language }}_{{ block.getName }}" class="pure-u-1 pure-u-xl-4-5" name="{{ block.getName }}{% if block.isMultiple %}[]{% endif %}" disabled="disabled"{% if block.isMultiple %} multiple="multiple"{% endif %}>
            <option value=""></option>
            {% set categories = block.getCategories(language, form.getCategoryId ?: null) %}
            {% for category in categories %}
                {% if block.isMultiple %}
                    <option value="{{ category.value }}"{% if category.value and category.value in form.getData(block.getName) %} selected="selected"{% endif %}>{{ category.label }}</option>
                {% else %}
                    <option value="{{ category.value }}"{% if category.value and form.getData(block.getName) == category.value %} selected="selected"{% endif %}>{{ category.label }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endfor %}