<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.getLanguage }}" xml:lang="{{ page.getLanguage }}">
<head>
{{ 'admin.head'|block }}
</head>
<body class="{{ page.getPageClass }}">
{% apply spaceless %}
<div class="layout">
    {{ 'admin.menu'|block }}
    <main>
        <div class="main-content">
            {{ 'admin.account'|block }}
            {{ 'admin.title'|block }}
            {{ 'admin.message'|block }}
            {{ 'admin.content'|block }}
        </div>
    </main>
    {{ 'admin.footer'|block }}
</div>
{{ 'admin.script'|block }}
{% endapply %}
</body>
</html>